$def with (name)

$if name:
    I just wanted to say <em>hello</em> to $name.<br>
    I just wanted to say <em>hello</em> to $name.<br>
    I just wanted to say <em>hello</em> to $name.<br>
    I just wanted to say <em>hello</em> to $name.<br>
    I just wanted to say <em>hello</em> to $name.<br>
    I just wanted to say <em>hello</em> to $name.<br>
$else:
    <em>Hello</em>, world!<br>
    <em>Hello</em>, world!<br>
    <em>Hello</em>, world!<br>
    <em>Hello</em>, world!<br>
    <em>Hello</em>, world!<br>
    <em>Hello</em>, world!<br>
    <em>Hello</em>, world!<br>
    <em>Hello</em>, world!<br>

